.palette.svelte-1u1xltn.svelte-1u1xltn{position:relative;width:100px}.palette.svelte-1u1xltn div.svelte-1u1xltn{flex-grow:1;height:22px}hr.separator.svelte-1871fv7{border:0;border-top:1px solid #ddd}
